@model IEnumerable<DataAccessLayer.ViewModel.AdminViewModel>;
@*@model IEnumerable<BusinessLayer.Model.Event>;*@
@{
    ViewBag.Title = "User Event Details";
}



<h1>User Event Details</h1>


<div class="row">


    <div class="col-12">


        <table class="table table-bordered table-striped" width="50%">

            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>City</th>
                    <th>Owner</th>
                    <th>Event Type</th>
                    <th>start time and date</th>
                    <th>start time and date</th>
                    <th>Description</th>
                    <th>Action</th>

                </tr>
            </thead>

            <tbody>
                @foreach (var data in Model)
                {
                    <tr>
                        <td width="5%">@data.Id</td>
                        <td width="5%">@data.Title</td>
                        <td width="5%">@data.City</td>
                        <td width="10%">@data.Owner</td>
                        <td width="10%">@data.Name</td>
                        <td width="15%">@data.StartDateTime</td>
                        <td width="15%">@data.EndDateTime</td>
                        <td width="15%">@data.Description</td>
                        <td width="10%"><a class="btn btn-primary" asp-action="Edit" asp-route-id="@data.Id" asp-controller="Entry">Edit</a></td>
                        <td width="10%"><a class="btn btn-danger" asp-action="Delete" asp-controller="Entry" asp-route-id="@data.Id">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>